@import "{{ site.theme }}";

.profile-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.site-nav {
  margin-top: 25px;
}

.site-nav a {
  display: block;
  margin-bottom: 8px;
}